<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <div class="sidebar-brand d-flex align-items-center justify-content-center">
    <div class="sidebar-brand-icon">
      <img src="/assets/img/logo.png" alt="logo" style="width: 50px;">
    </div>
    <div class="sidebar-brand-text mx-3"><?= (session()->role_id == 1) ? "Admin" : "Alumni"; ?></div>
  </div>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <?php if(session()->role_id == 1) : ?>
  <!-- Nav Item - Dashboard -->
  <li class="nav-item <?= (current_url() == base_url('berandaadmin')) ? 'active' : ''; ?>">
    <a class="nav-link" href="/berandaadmin">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Manajemen
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item <?= (current_url() == base_url('user')) ? 'active' : ''; ?>">
    <a class="nav-link collapsed" href="/user">
      <i class="fas fa-users"></i>
      <span>Users</span>
    </a>
  </li>

  <li
    class="nav-item <?= (current_url() == base_url('kuesioner') || current_url() == base_url('hasilkuesioner')) ? 'active' : ''; ?>">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true"
      aria-controls="collapseUtilities">
      <i class="fas fa-question"></i>
      <span>Kuesioner</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Manajemen kuesioner:</h6>
        <a class="collapse-item" href="/kuesioner">Pertanyaan</a>
        <a class="collapse-item" href="/hasilkuesioner">Hasil</a>
      </div>
    </div>
  </li>

  <?php else :  ?>
  <!-- Heading -->
  <div class="sidebar-heading">
    Interface
  </div>

  <li class="nav-item <?= (current_url() == base_url('berandaalumni')) ? 'active' : ''; ?>">
    <a class="nav-link collapsed" href="/berandaalumni">
      <i class="fas fa-home"></i>
      <span>Home</span>
    </a>
  </li>

  <li
    class="nav-item <?= (current_url() == base_url('kuesioneralumni/'.$info['iduser']) || current_url() == base_url('kuesioneralumni/editkuesioner/'.$info['iduser'])) ? 'active' : ''; ?>">
    <a class="nav-link collapsed" href="/kuesioneralumni/<?=$info['iduser'];?>">
      <i class="fas fa-question"></i>
      <span>Kuesioner</span>
    </a>
  </li>

  <?php endif; ?>
  <!-- Divider -->
  <hr class="sidebar-divider">
  <!-- Heading -->
  <div class="sidebar-heading">
    Lain - lain
  </div>

  <li
    class="nav-item <?= (current_url() == base_url('profile')) || (current_url() == base_url('profile/editprofile/'.$info['iduser'])) ? 'active' : ''; ?>">
    <a class="nav-link collapsed" href="/profile">
      <i class="fas fa-user-alt"></i>
      <span>Profile</span>
    </a>
  </li>

  <li class="nav-item <?= (current_url() == base_url('auth/ubahpassword')) ? 'active' : ''; ?>">
    <a class="nav-link collapsed" href="/auth/ubahpassword">
      <i class="fas fa-key"></i>
      <span>Ubah password</span>
    </a>
  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link" href="/auth/logout">
      <i class="fas fa-sign-out-alt"></i>
      <span>Sign Out</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->