<?= $this->extend('template-login/layout.html'); ?>

<?= $this->section('auth'); ?>
<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center mt-5">
    <div class="col-lg-7">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Ubah Password</h1>
                </div>
                <?= session()->getFlashdata('pesan'); ?>
                <form action="/auth/prosesubahpassword" class="user" method="POST">
                  <?= csrf_field(); ?>
                  <div class="form-group">
                    <input type="password"
                      class="form-control form-control-user <?= ($validation->hasError('password')) ? 'is-invalid' : ''; ?>"
                      id="password" name="password" placeholder="Masukan password baru...">
                    <div class="invalid-feedback">
                      <?= $validation->getError('password'); ?>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="password"
                      class="form-control form-control-user <?= ($validation->hasError('password2')) ? 'is-invalid' : ''; ?>"
                      id="password2" name="password2" placeholder="Ulangi password baru...">
                    <div class="invalid-feedback">
                      <?= $validation->getError('password2'); ?>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary btn-user btn-block">
                    Ubah password
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
<?= $this->endSection(); ?>